In [23]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [59]:
df = pd.read_csv("data/Dataset.csv")
df.head()

C:\Users\any\AppData\Local\Temp\ipykernel_8564\381549638.py:1: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Dataset.csv")

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118249 non-null  object
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118224 non-null  object
 8   Loan_Annuity                117044 non-null  object
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116999 non-null  object
 17  Age_Days                    118256 non-null  object
 18  Employed_Days               118207 non-null  object
 19  Registration_Days           118242 non-null  object
 20  ID_Days                     115888 non-null  object
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94935 non-null   object
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(15), int64(5), object(20)
memory usage: 37.2+ MB

In [22]:
df.describe()

,Client_Income,Credit_Amount,Loan_Annuity,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Cleint_City_Rating,Score_Source_2,Score_Source_3,Phone_Change,Default
count,9.381600e+04,93831.000000,92863.000000,92808.000000,93837.000000,96702.000000,93824.000000,91994.000000,94758.000000,92166.000000,75417.000000,93835.000000,96702.000000
mean,1.757877e+04,61311.232968,2794.207912,0.020475,14739.722785,2333.158425,4619.606423,2789.519099,2.020378,0.515386,0.500118,969.252923,0.086803
std,1.212303e+04,40718.597038,1480.520310,0.012550,3645.282226,2212.513769,3231.594243,1516.538553,0.508605,0.190787,0.195427,827.259951,0.281547
min,2.565000e+03,4500.000000,218.700000,0.000533,7676.000000,0.000000,0.000000,0.000000,1.000000,0.000005,0.000527,0.000000,0.000000
25%,1.125000e+04,27861.300000,1713.600000,0.010006,11754.000000,765.000000,1846.000000,1475.250000,2.000000,0.396181,0.357293,285.000000,0.000000
50%,1.575000e+04,52128.000000,2596.950000,0.018850,14556.000000,1641.000000,4254.000000,2869.000000,2.000000,0.566421,0.522697,763.000000,0.000000
75%,2.115000e+04,83404.800000,3568.500000,0.028663,17511.000000,3145.000000,6944.000000,4172.000000,2.000000,0.664470,0.657784,1577.000000,0.000000
max,1.800009e+06,405000.000000,22500.000000,0.056648,25140.000000,12687.000000,22701.000000,7197.000000,3.000000,1.066902,0.893976,4185.000000,1.000000

In [26]:
# Identify categorical and numerical columns using conditions
categorical_columns = df.columns[df.dtypes == 'object']
numerical_columns = df.columns[df.dtypes != 'object']

In [28]:
categorical_columns

Index(['Car_Owned', 'Active_Loan', 'Client_Income_Type', 'Client_Education',
       'Client_Marital_Status', 'Client_Gender', 'Loan_Contract_Type',
       'Client_Housing_Type', 'Homephone_Tag', 'Workphone_Working',
       'Client_Occupation', 'Client_Permanent_Match_Tag',
       'Client_Contact_Work_Tag', 'Type_Organization'],
      dtype='object')

In [29]:
numerical_columns

Index(['Client_Income', 'Credit_Amount', 'Loan_Annuity',
       'Population_Region_Relative', 'Age_Days', 'Employed_Days',
       'Registration_Days', 'ID_Days', 'Cleint_City_Rating', 'Score_Source_2',
       'Score_Source_3', 'Phone_Change', 'Default'],
      dtype='object')

In [53]:
numeric_issues = {}

for col in numerical_columns:
    try:
        df[col].astype(float)
    except ValueError as e:
        numeric_issues[col] = str(e)

numeric_issues

{}

In [ ]:
for col in columns_to_clean:
    data[col] = data[col].str.replace('$', '').str.replace('&', '').str.replace('@', '').str.replace('x', '').astype(float)

In [48]:
# Initialize the imputer
imputer = SimpleImputer(strategy='mean')

# Fit the imputer and transform the data
imputer.fit_transform(df[numerical_columns])

array([[6.75000000e+03, 6.11905500e+04, 3.41685000e+03, ...,
        5.00118433e-01, 6.30000000e+01, 0.00000000e+00],
       [2.02500000e+04, 1.52820000e+04, 1.82655000e+03, ...,
        5.00118433e-01, 9.69252923e+02, 0.00000000e+00],
       [1.80000000e+04, 5.95273500e+04, 2.78820000e+03, ...,
        3.29655054e-01, 2.77000000e+02, 0.00000000e+00],
       ...,
       [8.10000000e+03, 5.51079000e+04, 2.98935000e+03, ...,
        5.00118433e-01, 0.00000000e+00, 0.00000000e+00],
       [3.82500000e+04, 4.50000000e+04, 2.71935000e+03, ...,
        7.74985460e-02, 0.00000000e+00, 0.00000000e+00],
       [9.00000000e+03, 6.24289500e+04, 4.20165000e+03, ...,
        2.98594990e-01, 8.05000000e+02, 0.00000000e+00]])

In [20]:
df1 = df.dropna()

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32779 entries, 3 to 96701
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Client_Income               32779 non-null  float64
 1   Car_Owned                   32779 non-null  object
 2   Active_Loan                 32779 non-null  object
 3   Credit_Amount               32779 non-null  float64
 4   Loan_Annuity                32779 non-null  float64
 5   Client_Income_Type          32779 non-null  object
 6   Client_Education            32779 non-null  object
 7   Client_Marital_Status       32779 non-null  object
 8   Client_Gender               32779 non-null  object
 9   Loan_Contract_Type          32779 non-null  object
 10  Client_Housing_Type         32779 non-null  object
 11  Population_Region_Relative  32779 non-null  float64
 12  Age_Days                    32779 non-null  float64
 13  Employed_Days               32779 non-null  float64
 14  Registration_Days           32779 non-null  float64
 15  ID_Days                     32779 non-null  float64
 16  Homephone_Tag               32779 non-null  object
 17  Workphone_Working           32779 non-null  object
 18  Client_Occupation           32779 non-null  object
 19  Cleint_City_Rating          32779 non-null  float64
 20  Client_Permanent_Match_Tag  32779 non-null  object
 21  Client_Contact_Work_Tag     32779 non-null  object
 22  Type_Organization           32779 non-null  object
 23  Score_Source_2              32779 non-null  float64
 24  Score_Source_3              32779 non-null  float64
 25  Phone_Change                32779 non-null  float64
 26  Default                     32779 non-null  int64
dtypes: float64(12), int64(1), object(14)
memory usage: 7.0+ MB

In [5]:
df.columns

Index(['Client_Income', 'Car_Owned', 'Active_Loan', 'Credit_Amount',
       'Loan_Annuity', 'Client_Income_Type', 'Client_Education',
       'Client_Marital_Status', 'Client_Gender', 'Loan_Contract_Type',
       'Client_Housing_Type', 'Population_Region_Relative', 'Age_Days',
       'Employed_Days', 'Registration_Days', 'ID_Days', 'Homephone_Tag',
       'Workphone_Working', 'Client_Occupation', 'Cleint_City_Rating',
       'Client_Permanent_Match_Tag', 'Client_Contact_Work_Tag',
       'Type_Organization', 'Score_Source_2', 'Score_Source_3', 'Phone_Change',
       'Default'],
      dtype='object')

In [15]:
for column in df.columns:
    print(df[column].unique())

[ 6750.   20250.   18000.   ...  9764.1  21105.   12840.75]
['No' 'Yes' nan]
['Yes' 'No' nan]
[ 61190.55  15282.    59527.35 ...  55224.9  166316.4  231591.6 ]
[3416.85 1826.55 2788.2  ... 5411.7  2515.5  2989.35]
['Commercial' 'Service' 'Govt Job' nan 'Student' 'Maternity leave'
 'Retired' 'Businessman']
['Secondary' 'Graduation' 'Graduation dropout' nan 'Junior secondary'
 'Post Grad']
['M' 'W' 'S' nan 'D']
['Male' 'Female' nan]
['CL' 'RL' nan]
['Home' 'Family' 'Municipal' nan 'Rental' 'Office' 'Shared']
[0.028663  0.008575  0.0228    0.020713  0.019101  0.006008  0.001417
 0.018634  0.003541  0.008068  0.005144  0.04622   0.008866        nan
 0.019689  0.032561  0.006852  0.020246  0.035792  0.010147  0.018801
 0.00733   0.010276  0.015221  0.01452   0.018209  0.010006  0.0566485
 0.006671  0.014464  0.018029  0.007114  0.0105    0.026392  0.008019
 0.031329  0.008474  0.010643  0.011657  0.003069  0.022625  0.006305
 0.00963   0.025164  0.009657  0.009549  0.002042  0.030755  0.010556
 0.010032  0.008625  0.010966  0.011703  0.00702   0.02461   0.006629
 0.016612  0.009334  0.005313  0.007274  0.007305  0.002134  0.00823
 0.006296  0.003818  0.009175  0.006233  0.00496   0.01885   0.00712
 0.002506  0.006207  0.005084  0.003122  0.003813  0.001276  0.005002
 0.004849  0.000533  0.001333  0.000938 ]
[13957. 14162. 16790. ... 24359. 20790. 24366.]
[ 1062.  4129.  5102. ... 12609.  8226. 11796.]
[ 6123.  7833.    nan ...  9439. 10966. 12383.]
[ 383.   21.  331. ... 5880. 6004. 5994.]
['Yes' 'No']
['No' 'Yes']
['Sales' nan 'Realty agents' 'Laborers' 'Core' 'Drivers' 'Managers'
 'Accountants' 'High skill tech' 'Cleaning' 'HR' 'Waiters/barmen'
 'Medicine' 'Cooking' 'Private service' 'Security' 'IT'
 'Low-skill Laborers' 'Secretaries']
[ 2.  1.  3. nan]
['Yes' 'No']
['Yes' 'No']
['Self-employed' 'Government' 'Business Entity Type 3' 'Other' nan
 'Industry: type 3' 'Business Entity Type 2' 'Business Entity Type 1'
 'Transport: type 4' 'Construction' 'Kindergarten' 'Trade: type 3'
 'Industry: type 2' 'Trade: type 7' 'Agriculture' 'Military' 'Medicine'
 'Housing' 'Industry: type 1' 'Industry: type 11' 'Bank' 'School'
 'Industry: type 9' 'Postal' 'University' 'Transport: type 2' 'Restaurant'
 'Electricity' 'Police' 'Industry: type 4' 'Security Ministries'
 'Services' 'Transport: type 3' 'Trade: type 2' 'Mobile' 'Hotel'
 'Security' 'Industry: type 7' 'Advertising' 'Cleaning' 'Realtor'
 'Trade: type 6' 'Culture' 'Industry: type 5' 'Telecom' 'Trade: type 1'
 'Industry: type 12' 'Industry: type 8' 'Insurance' 'Emergency'
 'Legal Services' 'Industry: type 10' 'Trade: type 4' 'Industry: type 6'
 'Transport: type 1' 'Industry: type 13' 'Religion' 'Trade: type 5']
[0.47878667 0.21506834 0.55279497 ... 0.04807888 0.10353777 0.55641409]
[           nan 3.29655054e-01 3.55638717e-01 4.20610964e-01
 5.53164699e-01 7.22392890e-01 6.73830078e-01 4.93862882e-01
 5.83237926e-01 6.75413291e-01 8.65895915e-01 5.90233339e-01
 5.95456203e-01 3.34454126e-01 7.12155155e-01 6.00657537e-01
 8.43543539e-01 2.70707387e-01 7.58393062e-01 3.32850564e-01
 3.63945239e-01 1.12474350e-01 1.56639827e-01 3.92773861e-01
 3.49055251e-01 6.46329898e-01 5.06484240e-01 6.54529280e-01
 6.05836265e-01 7.09189110e-01 3.58951229e-01 4.25892898e-01
 5.69148771e-01 7.55740050e-01 2.72133684e-01 6.31354537e-01
 6.56158373e-01 1.46442067e-01 3.70649632e-01 3.72333666e-01
 2.88129600e-01 6.84827659e-01 8.32785025e-01 5.26294940e-01
 5.47810466e-01 3.99675616e-01 3.01624892e-01 4.54321060e-01
 6.89479143e-01 6.81705878e-01 8.35776516e-01 7.13631400e-01
 5.97192427e-01 4.57899551e-01 5.33481630e-01 5.81483706e-01
 7.89880347e-01 5.54946769e-01 6.92559067e-01 6.49620311e-01
 4.10102573e-01 6.07557300e-01 7.71361592e-01 5.13693766e-01
 2.85179905e-01 2.97086612e-01 2.94083101e-01 4.34733249e-01
 2.31439351e-01 1.30947153e-01 4.48962273e-01 3.68968738e-01
 3.97946322e-01 5.10089528e-01 6.10991328e-01 2.39226279e-01
 5.01075160e-01 1.65407460e-01 4.99272015e-01 3.04672184e-01
 6.70651753e-01 1.83035167e-01 6.17826147e-01 2.36610824e-01
 3.87625344e-01 6.94092643e-01 6.36376171e-01 6.21226338e-01
 1.99770570e-01 3.65616507e-01 9.56927240e-02 2.98594990e-01
 1.04119916e-01 7.03203305e-01 4.29423684e-01 7.53067392e-01
 1.08924404e-01 4.04878364e-01 7.29566691e-01 8.03885061e-01
 8.22498762e-01 2.41861487e-01 2.22580765e-01 4.86653157e-01
 2.82248434e-01 8.80268480e-01 3.80799683e-01 7.30987370e-01
 6.14414378e-01 4.01407414e-01 5.13294140e-02 7.39411754e-01
 7.16570245e-01 8.19317692e-01 7.85052026e-01 4.68659655e-01
 5.17296581e-01 4.13596760e-01 4.95665829e-01 5.65607981e-01
 3.17031779e-01 3.94495405e-01 5.56727426e-01 4.70456116e-01
 6.46719560e-02 3.67291018e-01 2.37916080e-01 5.72682505e-01
 6.57783800e-01 7.86266615e-01 3.75711010e-01 1.18364326e-01
 6.12704244e-01 4.74051289e-01 5.11891802e-01 5.98926218e-01
 2.60855914e-01 1.55689375e-01 6.24614658e-01 7.82607837e-01
 6.78567689e-01 4.36506499e-01 4.31191798e-01 5.88487788e-01
 7.40799088e-01 5.38862707e-01 5.67379237e-01 5.22697317e-01
 4.75849909e-01 6.83268831e-01 6.27990819e-01 3.23311245e-01
 3.50695843e-01 7.68807573e-01 3.85914672e-01 7.66233670e-01
 6.62637792e-01 1.28504377e-01 7.33814537e-01 7.62335618e-01
 4.41835823e-01 4.61482391e-01 1.09626434e-01 3.53987608e-01
 6.16121691e-01 4.79448981e-01 1.60488931e-01 5.28092751e-01
 5.77969119e-01 7.38019620e-01 6.52896552e-01 7.54406173e-01
 4.32961667e-01 8.63363382e-01 4.03141677e-01 1.97474512e-01
 6.95621930e-01 7.32403323e-01 4.18854289e-01 4.17099668e-01
 2.95582642e-01 7.70087070e-01 4.15347145e-01 2.15182404e-01
 7.00183851e-01 7.72631135e-01 5.93717587e-01 7.20944150e-01
 6.67457742e-01 6.09275667e-01 6.73395090e-02 4.52533559e-01
 2.51239446e-01 4.50747282e-01 3.10818254e-01 6.19527708e-01
 5.79727423e-01 5.91976618e-01 6.47976860e-01 7.46300213e-01
 4.72253343e-01 5.19097338e-01 3.96219572e-01 2.12756305e-01
 5.27265000e-04 5.74446617e-01 4.66293360e-02 1.48254379e-01
 3.40906426e-01 6.02386344e-01 5.29889834e-01 2.92588007e-01
 7.94628583e-01 7.69844690e-02 2.73564678e-01 4.92060094e-01
 6.86382335e-01 2.69285800e-01 2.04422625e-01 3.77404249e-01
 2.65049430e-01 6.43025564e-01 3.21735282e-01 2.76440695e-01
 1.06841948e-01 7.73895694e-01 6.65854922e-01 7.67523105e-01
 3.37672722e-01 5.20897599e-01 5.35276250e-01 5.76208836e-01
 4.59690450e-01 2.35310517e-01 7.23836990e-01 7.61026370e-01
 6.98667555e-01 8.48244300e-01 6.44679455e-01 1.69428727e-01
 7.77659443e-01 5.76392900e-02 7.80143638e-01 1.66405546e-01
 5.49596502e-01 5.08286991e-01 7.98137231e-01 6.39707568e-01
 5.40654450e-01 4.11848556e-01 2.02086602e-01 2.11550764e-01
 6.59405532e-01 5.24496446e-01 3.39287700e-01 8.29750142e-01
 6.41368257e-01 3.84206813e-01 5.58506628e-01 1.08226323e-01
 7.50375150e-01 2.05598139e-01 5.51381262e-01 4.88455184e-01
 3.24891229e-01 7.19490785e-01 2.67868936e-01 6.51260219e-01
 2.89611238e-01 5.02878277e-01 3.36061521e-01 1.57594999e-01
 2.40541417e-01 3.45784802e-01 7.51723715e-01 6.91742270e-02
 8.73042710e-02 7.36622698e-01 4.56109739e-01 3.42528872e-01
 2.55331771e-01 4.97468889e-01 7.96972682e-01 8.24594971e-01
 7.06205110e-01 1.49167461e-01 2.32724776e-01 6.80138822e-01
 2.16402961e-01 1.98620045e-01 7.49021705e-01 4.08358853e-01
 1.76652579e-01 1.01459357e-01 2.83711883e-01 5.37069958e-01
 7.28141299e-01 6.72242890e-01 1.94067828e-01 6.64248263e-01
 6.76992503e-01 8.59924176e-01 6.38043528e-01 3.20163367e-01
 2.63646813e-01 1.51007535e-01 4.35258070e-02 2.18859082e-01
 1.91821602e-01 1.79821765e-01 1.11042402e-01 7.83832434e-01
 2.80789574e-01 6.61023539e-01 1.59519540e-01 8.07273923e-01
 3.79100485e-01 8.78806990e-02 7.10674386e-01 1.19119065e-01
 3.47418227e-01 7.24966770e-02 3.07736696e-01 5.31686143e-01
 1.45542813e-01 3.06202298e-01 6.29485770e-02 3.28063161e-01
 7.95803133e-01 3.60612566e-01 5.44234741e-01 4.66864006e-01
 4.83050188e-01 4.84851475e-01 3.44155007e-01 3.91054977e-01
 2.91097380e-01 1.00803706e-01 3.15472155e-01 4.65069215e-01
 4.81249341e-01 5.62060483e-01 3.89338792e-01 7.76409851e-01
 1.62441998e-01 2.77885689e-01 6.22922000e-01 3.95105220e-02
 2.10350229e-01 5.68607400e-02 6.34705531e-01 4.27657370e-01
 2.86652483e-01 4.45396242e-01 1.71468367e-01 5.04681319e-01
 5.15495375e-01 4.38281374e-01 2.00926088e-01 8.21443313e-01
 5.60284328e-01 9.82185950e-02 6.91021227e-01 7.25276435e-01
 2.45851214e-01 1.80887978e-01 1.05473186e-01 2.62248971e-01
 7.42181612e-01 8.08393591e-01 6.87932838e-01 6.69056695e-01
 2.20094645e-01 2.75000352e-01 1.58554900e-01 5.42445144e-01
 2.13966852e-01 7.20131890e-02 4.06617437e-01 2.23831317e-01
 3.57293268e-01 8.66731234e-01 3.09275356e-01 2.47190938e-01
 5.46023197e-01 8.02745476e-01 2.30158897e-01 1.87388765e-01
 6.26304277e-01 2.66456808e-01 1.42872523e-01 8.05019662e-01
 1.85202082e-01 7.26711209e-01 7.35220999e-01 1.27698794e-01
 8.61616620e-02 4.22369652e-01 7.54609400e-02 1.43758053e-01
 6.04112600e-01 7.47663390e-01 8.55523587e-01 1.16124914e-01
 2.48535557e-01 1.73527430e-01 1.17613732e-01 1.16867266e-01
 7.57069015e-01 1.41115100e-01 1.95198406e-01 1.33429254e-01
 7.15103102e-01 4.40057830e-01 7.07699345e-01 7.88680775e-01
 2.52598698e-01 4.24130311e-01 2.59467655e-01 8.33786999e-01
 4.47178578e-01 2.49885063e-01 1.34265424e-01 2.17628520e-01
 7.43559314e-01 2.07964174e-01 3.13916677e-01 5.84990040e-01
 8.10618022e-01 1.74564266e-01 7.95864360e-02 1.72495467e-01
 9.63186930e-02 4.43615308e-01 1.36800522e-01 2.58084204e-01
 7.18032811e-01 1.90705948e-01 1.92942228e-01 1.70446123e-01
 5.63835049e-01 2.25086862e-01 3.26475210e-01 2.79335321e-01
 8.52828467e-01 4.77649155e-01 1.67408447e-01 7.75155267e-01
 8.12822607e-01 1.26897526e-01 6.29674251e-01 3.82501804e-01
 2.27612915e-01 8.06149281e-01 1.31770133e-01 7.04706423e-01
 3.71194130e-02 5.70916542e-01 9.08147090e-02 1.35951044e-01
 2.37208310e-02 2.09154699e-01 2.53962809e-01 1.84116156e-01
 3.74020803e-01 8.57297454e-01 3.62277247e-01 7.01695774e-01
 1.20641030e-01 4.29292070e-02 1.41991543e-01 8.28147040e-02
 8.38724852e-01 6.77939110e-02 8.33641980e-02 7.64939274e-01
 8.11722793e-01 5.86740009e-01 3.52339973e-01 3.31250865e-01
 4.63275328e-01 8.30766606e-01 5.60920790e-02 1.88489534e-01
 6.16842560e-02 5.06315130e-02 9.38365970e-02 3.03146374e-01
 9.32250950e-02 8.25635745e-01 1.00151820e-01 7.99296783e-01
 1.54743631e-01 7.92264474e-01 8.44731380e-02 5.57114230e-02
 2.28883417e-01 6.97146908e-01 4.23404220e-02 3.12365369e-01
 4.85913390e-02 8.55954510e-02 6.33031641e-01 1.86292950e-01
 1.89595260e-01 6.64391720e-02 9.02209390e-02 7.63639921e-01
 1.30128543e-01 1.61463080e-01 1.47345918e-01 8.50326150e-02
 9.14119940e-02 4.90257512e-01 1.11756371e-01 8.22685080e-02
 8.34784159e-01 7.59712182e-01 2.43186480e-01 7.91074913e-01
 8.56412800e-01 1.53802586e-01 1.10332428e-01 7.74985460e-02
 2.56705572e-01 8.00451340e-01 8.85488394e-01 7.64735190e-02
 9.20128090e-02 3.00107757e-01 1.24519471e-01 2.34015167e-01
 8.67312640e-02 8.16092360e-01 1.13922396e-01 9.69483170e-02
 1.75605979e-01 8.59053129e-01 1.13196353e-01 7.44932185e-01
 1.39375780e-01 8.37746853e-01 8.11859430e-02 1.02118788e-01
 1.81959110e-01 2.26347396e-01 6.55500260e-02 1.29314289e-01
 1.44648146e-01 1.23735322e-01 1.50085176e-01 1.37654462e-01
 3.18595524e-01 5.53332000e-02 1.25307878e-01 9.95036840e-02
 1.22179744e-01 6.08545970e-02 8.01600903e-01 1.04794623e-01
 8.39698085e-01 8.13917470e-01 9.75816130e-02 7.87476198e-01
 8.62510303e-01 1.19877961e-01 7.78904039e-01 1.64414179e-01
 3.63537440e-02 1.38512877e-01 2.06778654e-01 1.68416171e-01
 1.15386662e-01 1.96333966e-01 1.63425695e-01 2.03252114e-01
 2.21335206e-01 4.63097460e-02 1.26100559e-01 8.17172399e-01
 1.78760465e-01 8.01163800e-02 9.44516920e-02 8.42589277e-01
 2.24206800e-02 3.16247740e-02 8.39170040e-02 8.90438830e-02
 1.52866229e-01 7.01088440e-02 8.27702668e-01 3.41468860e-02
 7.15326760e-02 7.81378238e-01 5.42129840e-02 1.77704072e-01
 8.69210801e-01 1.21408286e-01 5.88259000e-02 4.44355660e-02
 5.45839940e-02 5.09793330e-02 2.94890200e-02 4.76007350e-02
 2.63596860e-02 3.61019140e-02 5.27525970e-02 7.90596960e-02
 2.19512920e-02 4.69510220e-02 1.40243184e-01 2.71103310e-02
 7.39651460e-02 7.93449030e-01 4.56768100e-02 5.34780870e-02
 4.09020480e-02 8.96306690e-02 8.20382959e-01 4.92625780e-02
 1.32597495e-01 5.38443530e-02 3.09687980e-02 1.07532176e-01
 6.33753620e-02 7.59656810e-02 8.09508289e-01 8.36764077e-01
 8.93976075e-01 4.53634380e-02 7.05805190e-02 3.92377150e-02
 8.84605650e-02 6.68879340e-02 7.85361450e-02 5.96296580e-02
 3.51112900e-02 8.77194258e-01 6.00353830e-02 8.06495440e-02
 1.51934549e-01 1.22955418e-01 1.35106016e-01 2.44516392e-01
 6.25244730e-02 8.82530313e-01 1.06155623e-01 6.21030380e-02
 3.32080590e-02 5.20364070e-02 2.27390390e-02 1.02782014e-01
 8.46378063e-01 1.14652494e-01 1.03449052e-01 6.51096140e-02
 5.80323090e-02 4.14716970e-02 5.92265010e-02 6.82511540e-02
 8.53731432e-01 5.23933460e-02 7.80157670e-02 7.49592810e-02
 1.70168720e-02 3.58517650e-02 6.04436910e-02 3.86975130e-02
 2.40571960e-02 4.17593600e-02 7.34726400e-02 8.47313519e-01
 7.44606880e-02 3.48677560e-02 5.49573940e-02 6.42370380e-02
 8.15007386e-01 8.17255920e-02 7.29831560e-02 6.12681140e-02
 4.79287860e-02 6.87112550e-02 8.45437922e-01 6.59932070e-02
 9.26171710e-02 4.47428280e-02 8.18247508e-01 4.50521150e-02
 9.88592800e-02 3.43855640e-02 3.25203450e-02 2.01679890e-02
 2.65454300e-02 4.26338430e-02 5.16817670e-02 8.23549312e-01
 9.50703960e-02 3.39098060e-02 5.64751800e-02 8.40666560e-01
 2.58100110e-02 5.72487720e-02 7.10551250e-02 4.72748180e-02
 5.02859400e-02 4.59922420e-02 4.41303160e-02 4.20489310e-02
 3.76384480e-02 8.65056176e-01 3.29772750e-02 8.51008703e-01
 8.81026575e-01 8.50091881e-01 5.31141730e-02 2.50944410e-02
 8.78739767e-01 3.89667160e-02 6.96400850e-02 2.99046740e-02
 2.80779000e-02 3.68624820e-02 3.84300950e-02 3.22941810e-02
 6.38048440e-02 2.35543730e-02 8.26671642e-01 2.96961420e-02
 8.70841988e-01 3.81644530e-02 3.14046350e-02 3.73780640e-02
 4.89258670e-02 8.61652750e-01 4.03398940e-02 3.79005740e-02
 8.31778230e-01 4.82589830e-02 3.53564630e-02 5.84278410e-02
 4.06200400e-02 8.41630287e-01 8.28728832e-01 1.86584220e-02
 2.84742480e-02 2.38884360e-02 8.58177559e-01 2.86744530e-02
 2.47439400e-02 2.59919850e-02 2.49185900e-02 4.00616000e-02
 3.46258510e-02 8.79506216e-01 8.74844253e-01 3.66072630e-02
 2.14915160e-02 3.56032840e-02 4.38270670e-02 2.42271190e-02
 4.96014850e-02 3.07530810e-02 2.92832990e-02 2.32248710e-02
 3.03260030e-02]
[  63.   nan  277. ... 3333. 3031. 3359.]
[0 1]

In [17]:
for column in df.columns:
    print(f'{column} = {df[column].isnull().sum()}')

Client_Income = 2886
Car_Owned = 2857
Active_Loan = 2855
Credit_Amount = 2871
Loan_Annuity = 3839
Client_Income_Type = 2877
Client_Education = 2897
Client_Marital_Status = 2752
Client_Gender = 1888
Loan_Contract_Type = 2924
Client_Housing_Type = 2926
Population_Region_Relative = 3894
Age_Days = 2865
Employed_Days = 0
Registration_Days = 2878
ID_Days = 4708
Homephone_Tag = 0
Workphone_Working = 0
Client_Occupation = 19046
Cleint_City_Rating = 1944
Client_Permanent_Match_Tag = 0
Client_Contact_Work_Tag = 0
Type_Organization = 2850
Score_Source_2 = 4536
Score_Source_3 = 21285
Phone_Change = 2867
Default = 0